﻿@*<!doctype html>
    <html lang="en">
    <head>
        <title>Web Application for Structure Engineering</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=K2D:400,700|Niramit:300,700" rel="stylesheet">

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

        <script src="~/Scripts/rcbeam.js"></script>
        <script src="~/Scripts/menubar.js"></script>
        <link href="~/Content/menubar.css" rel="stylesheet" type="text/css" />

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>



        <link rel="stylesheet" href="~/pivot/css/animate.css">
        <link rel="stylesheet" href="~/pivot/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/pivot/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/pivot/css/jquery.timepicker.css">

        <link rel="stylesheet" href="~/pivot/fonts/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="~/pivot/fonts/fontawesome/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/pivot/fonts/flaticon/font/flaticon.css">

        <link rel="stylesheet" href="~/pivot/css/style.css">



        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="929418949683-d09s15uec6gb9cc4m1jin1b8n54qa258.apps.googleusercontent.com">
        <script src="~/Scripts/onSignIn.js"></script>
        <script src="~/Scripts/SignOut.js"></script>

    </head>
    <body>
        <div id="wrapper" class="animate">
            <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Web Application for Structure Engineering</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav animate side-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("MyProject", "Home")" title="My Project"><i class="fas fa-briefcase"></i> My Project <i class="fas fa-briefcase shortmenu animate"></i></a>
                        </li>
                    </ul>
                    @if (Session["uid"] == null)
                    {
                        <ul class="navbar-nav ml-md-auto d-md-flex">
                            <li class="nav-item">
                                <div id="loginbtn" class="g-signin2" data-onsuccess="onSignIn"></div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-md-auto d-md-flex">
                            <li class="nav-item">
                                <img id="img" width="40" height="40" />&nbsp;<label id="email"></label>
                            </li>
                            <li class="nav-item">
                                <a id="logoutbtn" class="nav-link" href="#" onclick="signOut()"><i class="fas fa-key"></i> Logout</a>
                            </li>
                            <li class="nav-item">
                                <div id="loginbtn" class="g-signin2" data-onsuccess="onSignIn"></div>
                            </li>
                        </ul>
                    }
                </div>
            </nav>
        </div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)



        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="~/pivot/js/jquery-3.2.1.min.js"></script>
        <script src="~/pivot/js/popper.min.js"></script>
        <script src="~/pivot/js/bootstrap.min.js"></script>
        <script src="~/pivot/js/owl.carousel.min.js"></script>
        <script src="~/pivot/js/jquery.waypoints.min.js"></script>
        <script src="~/pivot/js/main.js"></script>
    </body>
    </html>*@
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=K2D:400,700|Niramit:300,700" rel="stylesheet">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="929418949683-d09s15uec6gb9cc4m1jin1b8n54qa258.apps.googleusercontent.com">
    <script src="~/Scripts/onSignIn.js"></script>
    <script src="~/Scripts/SignOut.js"></script>

    <script src="~/Scripts/rcbeam.js"></script>
    <script src="~/Scripts/menubar.js"></script>
    <link href="~/Content/menubar.css" rel="stylesheet" type="text/css" />

    <title>Web Application for Structure Engineering</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Web Application for Structure Engineering</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="mr-3  text-white nav-link" href="@Url.Action("MyProject", "Home")"><i class="fas fa-briefcase"></i> My Project <span class="sr-only">(current)</span></a>
                <img id="img" width="40" height="40" class="m-2" /><label id="email" class="text-white mr-2"></label>
                <a id="logoutbtn" class="nav-link text-white" href="#" onclick="signOut()"><i class="fas fa-key"></i> Logout</a>
                <div id="loginbtn" class="g-signin2" data-onsuccess="onSignIn"></div>
            </form>
        </div>
    </nav>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

<script>
    $("document").ready(function () {
        var uid = '@Session["uid"]';
        if (uid == "") {
            $("#logoutbtn").hide();
            $("#img").hide();
            $("#email").hide();
        }
        else {
            $("#loginbtn").hide();
            $("#logoutbtn").show();
            $("#img").show();
            $("#email").show();
        }
        //if (Session["uid"] == null) {
        //    $("#logoutbtn").hide();
        //    $("#img").hide();
        //    $("#email").hide();
        //}
        //else {
        //    $("#loginbtn").hide();
        //    $("#logoutbtn").show();
        //    $("#img").show();
        //    $("#email").show();
        //}
    });
</script>