﻿div.me{
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%
}

#wrapper {

    height: 100%;
}

.animate {
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.header-top {
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}
.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}
.navbar-nav.side-nav.open {
    left: 0;
}
.navbar-nav.side-nav {
    background: #585f66;
    box-shadow: 2px 1px 2px rgba(0,0,0,.1);
    position: fixed;

    flex-direction: column !important;
    left: -220px;
    width: 200px;

    padding-bottom: 0px
}