﻿
@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()
    <table class="table" border="1">
        <tr>
            <th colspan="3">
                <ins>RCBEAM DESIGN RESULTS</ins>
            </th>
        </tr>
        <tr>
            <th rowspan="2">
                MemberNo
            </th>
            <th rowspan="2">
                Ds
            </th>
            <th rowspan="2">
                Mark
            </th>
            <th colspan="6">
                Left Top Bar
            </th>
            <th colspan="6">
                Middle Bottom Bar
            </th>
            <th colspan="6">
                Right Top Bar
            </th>
        </tr>
        <tr>
            <th>
                1st
            </th>
            <th>
                2nd-ex
            </th>
            <th>
                3rd-ex
            </th>
            <th>
                4th-ex
            </th>
            <th>
                5th-ex
            </th>
            <th>
                Stls
            </th>
            <th>
                1st
            </th>
            <th>
                2nd-ex
            </th>
            <th>
                3rd-ex
            </th>
            <th>
                4th-ex
            </th>
            <th>
                5th-ex
            </th>
            <th>
                Sts
            </th>
            <th>
                1st
            </th>
            <th>
                2nd-ex
            </th>
            <th>
                3rd-ex
            </th>
            <th>
                4th-ex
            </th>
            <th>
                5th-ex
            </th>
            <th>
                Sts
            </th>
        </tr>
        <tr>
            <th>

            </th>
            <th>
                mm
            </th>
            <th>
                cm
            </th>
            <th>
                Mzl
            </th>
            <th>
                Mxl
            </th>
            <th>
                SX0
            </th>
            <th>
                VX0
            </th>
            <th>
                SV0
            </th>
            <th>
                mm
            </th>
            <th>
                Mzm
            </th>
            <th>
                Mxm
            </th>
            <th>
                SXm
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                mm
            </th>
            <th>
                Mzr
            </th>
            <th>
                Mxr
            </th>
            <th>
                SX10
            </th>
            <th>
                VX10
            </th>
            <th>
                SV10
            </th>
            <th>
                mm
            </th>
        </tr>
        @foreach (var cal in ViewBag.CalSheet)
        {
            <tr>
                <td>
                    @cal.MemberNo
                </td>
                <td>
                    @cal.Ds
                </td>
                <td>
                    @cal.Mark
                </td>
                <td>
                    @cal.LTB1
                </td>
                <td>
                    @cal.LTB2
                </td>
                <td>
                    @cal.LTB3
                </td>
                <td>
                    @cal.LTB4
                </td>
                <td>
                    @cal.LTB5
                </td>
                <td>
                    @cal.LTBStls
                </td>
                <td>
                    @cal.MBB1
                </td>
                <td>
                    @cal.MBB2
                </td>
                <td>
                    @cal.MBB3
                </td>
                <td>
                    @cal.MBB4
                </td>
                <td>
                    @cal.MBB5
                </td>
                <td>
                    @cal.MBBSts
                </td>
                <td>
                    @cal.RTB1
                </td>
                <td>
                    @cal.RTB2
                </td>
                <td>
                    @cal.RTB3
                </td>
                <td>
                    @cal.RTB4
                </td>
                <td>
                    @cal.RTB5
                </td>
                <td>
                    @cal.RTBStrs
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @cal.Cm
                </td>
                <td>
                    @cal.Mzl
                </td>
                <td>
                    @cal.Mxl
                </td>
                <td>
                    @cal.SX0
                </td>
                <td>
                    @cal.VX0
                </td>
                <td>
                    @cal.SV0
                </td>
                <td>
                </td>
                <td>
                    @cal.Mzm
                </td>
                <td>
                    @cal.Mxm
                </td>
                <td>
                    @cal.Sxm
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @cal.Mzr
                </td>
                <td>
                    @cal.Mxr
                </td>
                <td>
                    @cal.SX10
                </td>
                <td>
                    @cal.VX10
                </td>
                <td>
                    @cal.SV10
                </td>
                <td>
                </td>
            </tr>
        }
    </table>

    var cals = @ViewBag.CalSheet;

    <a href="@Url.Action("ExportToExcel","Home",new { cals = cals})">Export To Excel</a>
}