﻿@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/menubar.css")" rel="stylesheet" type="text/css" />
<h4 align="center">Connectivity - Frame</h4>
<table align="center" id="customers">
    <tr>
        <th>Frame</th>
        <th>JointI</th>
        <th>JointJ</th>
        <th>IsCurved</th>
        <th>Length</th>
        <th>CentroidX</th>
        <th>CentroidY</th>
        <th>CentroidZ</th>
        <th>GUID</th>

    </tr>
    @if (ViewBag.CF != null)
    {
        foreach (var cf in ViewBag.CF)
        {
            <tr>
                <td>@cf.Frame</td>
                <td>@cf.JointI</td>
                <td>@cf.JointJ</td>
                <td>@cf.IsCurved</td>
                <td>@cf.Length</td>
                <td>@cf.CentroidX</td>
                <td>@cf.CentroidY</td>
                <td>@cf.CentroidZ</td>
                <td>@cf.GUID</td>
            </tr>
        }
    }

</table>