﻿@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/menubar.css")" rel="stylesheet" type="text/css" />

<h4 align="center">Element Forces - Frames</h4>
<table align="center" id="customers">
    <tr>
        <th>Frame</th>
        <th>Station</th>
        <th>OutputCase</th>
        <th>CaseType</th>
        <th>P</th>
        <th>V2</th>
        <th>V3</th>
        <th>T</th>
        <th>M2</th>
        <th>M3</th>
    </tr>
    @if (ViewBag.EFF != null)
    {
        foreach (var ef in ViewBag.EFF)
        {
            <tr>
                <td>@ef.Frame</td>
                <td>@ef.Station</td>
                <td>@ef.OutputCase</td>
                <td>@ef.CaseType</td>
                <td>@ef.P</td>
                <td>@ef.V2</td>
                <td>@ef.V3</td>
                <td>@ef.T</td>
                <td>@ef.M2</td>
                <td>@ef.M3</td>
            </tr>
        }
    }

</table>
