﻿@*<section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('../../pivot/img/slider-2.jpg');">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-7 col-sm-12 element-animate">
                        <h1 class="mb-4"> Web Application for Structure Engineering</h1>
                    </div>
                </div>
            </div>

        </div>

        <div class="slider-item" style="background-image: url('../../pivot/img/slider-1.jpg');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-8 col-sm-12 element-animate">
                        <h1 class="mb-4">Web Application for Structure Engineering</h1>
                    </div>
                </div>
            </div>

        </div>
    </section>*@

<style>
    body, html {
        height: 100vh;
        margin: 0;
    }
    section {
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .bg {
        /* The image used */
        background-image: url('../../pivot/img/slider-2.jpg');
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="bg">
    <section>
        <h1 class="mb-4">Web Application for Structure Engineering</h1>
    </section>
</div>