﻿@{
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@model Web_Application_for_Structure_Engineering.Models.Project

<style>
    a {
        color: black;
    }
        /* Unvisited link  */
        a:visited {
            color: black;
        }
        /* Visited link    */
        a:hover {
            color: black;
        }
        /* Mouse over link */
        a:active {
            color: black;
        }
</style>
<div class="container mt-5">
    @using (Html.BeginForm())
    {
        //@Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4><a href="@Url.Action("MyProject","Home")"><i class="fas fa-arrow-left mr-2"></i></a>Project</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" align="center">
                <div class="col-10">
                    @Html.LabelFor(model => model.projectName, htmlAttributes: new { @class = "control-label float-left" })
                    <div class="col-10">
                        @Html.EditorFor(model => model.projectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.projectName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group float-right">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </div>
    }
</div>
