﻿@model IEnumerable<Web_Application_for_Structure_Engineering.Models.Element_Forces___Frames>

@{
    ViewBag.Title = "ShowAccess";
}

<h2><a href="@Url.Action("MyProject","Home")"><i class="fas fa-arrow-left mr-2"></i></a>ShowAccess</h2>

<div>
    @foreach(Web_Application_for_Structure_Engineering.Models.Element_Forces___Frames details in Model)
    {
        <tr>
            <td>
                @details.Frame
            </td>
            <td>
                @details.Station
            </td>
            <td>
                @details.OutputCase
            </td>
            <td>
                @details.CaseType
            </td>
            <td>
                @details.P
            </td>
            <td>
                @details.V2
            </td>
            <td>
                @details.V3
            </td>
            <td>
                @details.T
            </td>
            <td>
                @details.M2
            </td>
            <td>
                @details.M3
            </td>
        </tr>
    }
</div>